#central{
    background-image: url("../Images/fondo1.jpg");
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
div{
    padding-top: 50px;
}
a{
    color:lightseagreen;
}